body {
  background-color: #bcd5ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  line-height: normal;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
}

h1, h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 32px;
  line-height: auto;
  color: #001868;
}

/* .a-strava {
  color: white;
  text-decoration: none;
  padding: 18px;
  background-color: #FC5200;
  border-radius: 5px;
  font-size: 20px;
  border: #FC5200 solid 3px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
} */

/* .a-strava:hover {
  color: #FC5200;
  background-color: white;
  border: #FC5200 solid 3px;
} */

.a-work {
  color: white;
  text-decoration: none;
  padding: 18px;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  border: black solid 3px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.a-work:hover {
  color: black;
  background-color: white;
  border: black solid 3px;
}

.paragraph-margin {
  margin-bottom: 40px;
}

i.fa-brands {
  color: black;
  font-size: 50px;
  margin: 2px;
}

i.fa-brands:hover {
  color: grey;
}

li {
  list-style: none;
  display: inline-block;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.text-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.card-white {
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  width: 50%;
  margin: 20px auto;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 70px;
}

.split {
  display: flex;
}

.right {
  margin: auto;
}

.left {
margin: auto;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
